.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input:focus {
  outline: none;
}
.clearfloat {
  clear: both;
}

body,li,ul,div {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  min-width: 1226px;
}


#font {
  background-color: pink;
  height: 90px;
}
/*top两横栏*/
#TOP {
  height: 120px;
  background-color: pink;
}
#Top {
  background-color: black;
}
#top {
  background-color: black;
  height: 40px;
  width: 1226px;
  margin: auto;
}
#top li:hover {
  color: white;
}
#topleft li,#topright li {
  float: left;
  background-color: black;
  color: #b0b0b0;
  font-size: 12px;
  font-family: "微软 雅黑";
  line-height: 40px;
  margin-right: 15px;
}
#shoppingcart {
  width: 80px;
}
#shoppingcart:hover {
  background-color: pink;
}
#topright {
  float: right;
}
#topleft {
  float: left;
}


/*搜索框及logo导航*/
#logomenu {
  height: 50px;
  width: 1226px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}
#nav-menu {
  overflow: hidden;
}
#logomenuUl {
  float: left;
}
#logomenuUl li {
  float: left;
  line-height: 50px;
  font-size: 20px;
  margin-right: 15px;
}
#logomenuUl li:hover {
  color: rgba(255, 51, 0, 0.79);
}
#logo {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 150px;
}
#boxbutton {
  position: absolute;
  right: 0px;
  top:0px;
}
.box {
  width: 250px;
  height: 45px;
  float: left;
  padding-left: 10px;
}
.button {
  width: 50px;
  height: 50px;
  float: left;
}


#xiaomishoujiul {
  width: 100%;
  height:160px;
  position: absolute;
  top: 250px;
  overflow: hidden;
  display: none;
  background-color: black;
  z-index: 1;
}
#dropdownbox {
  overflow: hidden;
  background-color: pink;
  width: 100%;
  height: 120px;
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 1;
}
.nav-dropdown {
  display: none;
  width: 1226px;
  height: 120px;
  margin: auto;
  top: 50px;
  background-color: pink;
}
.nav-dropdown img {
  display: block;
  float: left;
  width: 90px;
  height: 90px;
  padding: 15px 15px;
  transition: all 0.6s cubic-bezier(0.865, 0.84, 0.44, 1);
}
.nav-dropdown span {
  width: 0px;
  height:90px;
  position: relative;
  top: 15px;
  border-right: 1px solid black;
  float: left;
}
.nav-dropdown img:hover {
  transform: scale(1.25, 1.25);
}
.hinddrop{
  display: none;
}
.showdrop{
  display: block;
}


/*导向栏大框*/
#article1 {
  width: 1226px;
  height: 450px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.spellImg {
	display: block;
	float: left;
	width: 1226px;
	height: 450px;
}
#spellImgBox {
  position:absolute;
  width: 6130px;
  left: 0px;
  transition: 1s;
}

#article1left {
  float: left;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  left: 0px;
}
#article1leftul {
  width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: black;
}

#article1left li {
  height: 40px;
  line-height: 40px;
  color: white;
  padding-left: 30px;
}

#article1left li:hover {
  background-color: orange;
}

#articleleftBox {
  width: 926px;
  height: 450px;
  position: absolute;
  left: 300px;
  top:0px;
  z-index: 1;
  background-color: grey;
}
#articleleftBox li {
  color: black;
}
.products {
  display: none;
}
#articleleftBox img {
  width: 160px;
  height: 100px;
  float: left;
  margin-right: 25px;
  margin-bottom: 60px;
}
#articleleftBox img:nth-last-of-type(5n+1) {
  margin-right: 0px;
}

#rightbottombutton {
	width: 150px;
	height: 30px;
	position: absolute;
	right: 30px;
  bottom: 0px;
}
#slideshow {
  width: 1226px;
  height:450px;
  position: relative;
}
#rightbottombutton li {
  text-decoration: none;
  color: black;
  float: left;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
}
span {
  width: 40px;
  height: 80px;
  line-height: 80px;
  top: 185px;
  font-size: 40px;
  background-color: white;
  opacity: 0.3;
}
#spanL{
  left: 300px;
  position: absolute;
}
#spanR {
  right: 0px;
  position: absolute;
}


#Picture {
	width: 1226px;
	height: 200px;
	margin: auto;
	margin-top: 30px;
}
#pleft {
	width: 300px;
	height: 200px;
	margin-right: 2px;
	float: left;
	background-color: grey;
}
.sub_p {
	width: 98px;
	height: 98px;
	line-height: 100px;
	text-align: center;
	float: left;
	border:white solid 1px;
}
.sub_p:nth-of-type(2n+0) {
	background-color: green;
	opacity: 0.8;
}
.picture {
	width: 300px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	margin-left: 8px;
	float:left;
	background-color: pink;
}

/*明星单品*/
#starproduct {
	width: 1226px;
	margin: auto;
}
#starBox {
  width: 1226px;
  height: 380px;
}
.staritem {
  position: relative;
  width: 238px;
	height: 350px;
  margin-right: 9px;
  margin-top: 15px; 
	background-color: pink;
  border-top: grey solid 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 15);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  float: left;
}
.staritem img{
  width: 100%;
  height:100%;
}
.staritem::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 15);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.staritem:hover {
  transform: scale(1.05, 1.05);
}
.staritem:hover::after {
  opacity: 1;
}

.staritem:nth-of-type(5n+0) {
	margin-right: 0px;
}


/*家电*/
#homeAppliances {
  overflow: hidden;
	width: 1226px;
	margin: auto;
	position: relative;
}
#homeAppliances h1 {
  float: left;
}
#appliancesMenu {
  float: right;
  line-height: 84.48px;
}
#appliancesMenu li {
	float: left;
	margin-left: 20px;
	font-size: 20px;
}
#left_product {
	width: 238px;
	height: 720px;
	background-color: grey;
	float: left;
}
.product {
	width: 238px;
	height: 350px;
	margin-left: 9px;
	background-color: pink;
  float: left;
  margin-bottom: 20px;
}



#test {
  height: 400px;
  background-color: black;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
